.hero-media img {
    max-width: 80%;
}
.dark .navbar {
    background: #3f51b5 !important;
    box-shadow: 0.1rem 0.04rem rgb(255, 255, 255);
}
.navbar {
    min-height: 70px !important;
}
.navbar {
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

.navbar-light .navbar-nav > li.nav-item > a.active, .navbar-light .navbar-nav > li.nav-item > a.active:focus, .navbar-light .navbar-nav > li.nav-item > a.active:hover {
    color: rgb(0, 136, 204);
    font-weight: 700;
    background-color: transparent !important;
}

/* classes para el footer */

.grilla-fila {
 /* display: flex;
  flex-wrap: wrap; */
  padding: 0;
}
.grilla-columna {
  flex: 50%;
/*  padding: 0 4px;  */
  display: flex;
  justify-content: space-evenly;
}

.grilla-columna img {
 /* margin-top: 1em;
  vertical-align: middle;
  display: inline; */
  width: 3em;
}
.grilla-columna figure {
 margin: 0;
}
.grilla-fila a:not(.btn):not(.hero-cta-alt) {
  text-decoration: none;    
}
.grilla-fila.home-section.dark a:not(.btn) {
    color: #BFBF9A;
    text-decoration: none;
}

@media (max-width: 991.98px) {
 .navbar-brand img {
  max-height:30px
 } 
  .grilla-columna img {
    width: 1.8em;
}
}

